# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/

# Pytest cache
.pytest_cache/

build/
dist/
*.egg-info
